@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 12px;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: right;
    width: 25%;
    padding: 100px;
  } 
  .about-section {
    padding: 100px;
    text-align: center;
    background-color: #33303d;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .our {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .botomnav-1 {
    width: 100%;
    height:20px;
    margin-left:200px;
    font-size:12px;
    color: black;
    font-family: "Quicksand", sans-serif;
    }
    
    .botomnav-2 {
    text-align:right;
    width: 100%;
    height:20px;
    font-size:15px;
    color: #8c8a8d;
    font-family: "Quicksand", sans-serif;
    }
    
    .botomnav-3  {
        margin-left:200px;
        height:10px;
        font-size:16px;
        color: #8c8a8d;
        font-family: "Quicksand", sans-serif;
    }

  @media screen and (max-width: 100%) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* The flip card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #33303d;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #33303d;
    color: #bbb;
    transform: rotateY(180deg);
  }

/* Footer */
.footer{
  background:rgb(255, 255, 255);
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

/* nav */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 12px;
  }

  /* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: right;
    width: 25%;
    padding: 100px;
  } 
  .about-section {
    padding: 100px;
    text-align: center;
    background-color: #33303d;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }

  .our {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .botomnav-1 {
    width: 100%;
    height:20px;
    margin-left:200px;
    font-size:12px;
    color: black;
    font-family: "Quicksand", sans-serif;
    }
    
    .botomnav-2 {
    text-align:right;
    width: 100%;
    height:20px;
    font-size:15px;
    color: #8c8a8d;
    font-family: "Quicksand", sans-serif;
    }
    
    .botomnav-3  {
        margin-left:200px;
        height:10px;
        font-size:16px;
        color: #8c8a8d;
        font-family: "Quicksand", sans-serif;
    }

  @media screen and (max-width: 100%) {
    .column {
      width: 100%;
      display: block;
    }
  }

  /* The flip card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #33303d;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #33303d;
    color: #bbb;
    transform: rotateY(180deg);
  }

/* Footer */
.footer{
  background:rgb(255, 255, 255);
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

  /* holme */
  .home {
    
    width: 100%;
    height: 40vh;
    background-image: url(background1.jpg);
    background-color: #33303d;
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}